.Card {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 30px 48px;
 gap: 31px;

 //  min-width: 200px;
 //  min-height: 200px;

 background: #ffffff;
 box-shadow: 0px 5px 34px rgba(194, 194, 194, 0.42);
 border-radius: 10px;
}
