.Header {
 grid-area: header;
}
.Menu {
 grid-area: menu;
 width: 250px;
}
.Main {
 grid-area: main;
}
.Right {
 grid-area: right;
}
.Footer {
 grid-area: footer;
}

.Grid {
 &-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
   'menu header header header header header'
   'menu main main main right right'
   'menu footer footer footer footer footer';
  gap: 10px;
  grid-template-columns: max-content;
  grid-template-rows: min(80px);
 }
}

body {
 background-color: #e5e5e5;
}
