.Sidebar {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: center;
 gap: 10px;
 width: 238px;
 height: 100vh;
 background: linear-gradient(180deg, #0e7eb6 0%, #0696dd 100%);
}
