.SidebarMenu {
 width: 174px;
 height: 427px;
 flex: none;
 order: 1;
 flex-grow: 0;
 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 53px;
  height: 427px;
  flex: none;
  order: 0;
  flex-grow: 0;
 }
 li {
  list-style-type: none;
  height: 27px;
 }
 a {
  text-decoration: none;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #ffffff;
 }
 &-icon {
  height: 27px;
  width: 27px;
 }

 &-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
 }
}
